* {
    box-sizing: border-box;
}

body {
    color: #020;
    margin: 20px;
}

/*-----Header-----*/

nav {
    background-color: #ccc;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    padding: 10px, 0;
}

.clearfix {
    clear: both;
}

/*-----index-----*/

.main-section {
    margin: 20px;
    font-family: sans-serif;
}

.main-section img {
    width: 300px;
    height: 300px;
    float: left;
}

/*------portfolio------*/

.image-holder img {
    width: 300px;
    height: 300px;
    margin:30px;
}

.crossfade {
    width: 900px;
    margin: 10px auto;
}

/*------footer------*/

footer {
    background-color: #ccc;
    text-align: center;
    position: sticky;
}